<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width">
</head>

<body>

<div class="topbar">
<div class="logo">Market</div>

<div>
{% if session.user_id %}
<a href="/logout">Выйти</a>
{% else %}
<a href="/login">Войти</a>
<a href="/register">Регистрация</a>
{% endif %}
</div>
</div>

<form method="POST" enctype="multipart/form-data">
<input name="title">
<input name="description">
<input name="lat">
<input name="lng">
<input type="file" name="image">
<button>Добавить</button>
</form>

<div class="grid">
{% for ad in ads %}
<a href="/ad/{{ ad[0] }}" class="card">
<h3>{{ ad[1] }}</h3>
<a href="/add_to_cart/{{ ad[0] }}">🛒</a>
</a>
{% endfor %}
</div>

</body>
</html>
